/**
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
  a, span {
    color: $white-color;
  }
  span {
    font-size: 2rem;
    color: $red-color;
    @include media-query($on-tablet) {
      display: none;
    }
  }
}

#site-nav {
  background: $black-color;
  min-height: 56px;
  min-width: 100%;
  margin: 0;
  padding: 0 $spacing-unit/2 0 0;
  line-height: 56px;
  z-index: 1;
  text-align: right;

  .menu-icon {
    display: none;
  }

  .page-link h2 {
    color: $white-color;
    line-height: $base-line-height;
    padding: 0 $spacing-unit/2;
    display: inline-block;
    font-family: $base-font-family;
    font-weight: 300;
    font-size: 2rem;
    // Gaps between nav items, but not on the first one
    &:not(:last-child) {
      border-right: 1px solid $white-color;
    }
    @include media-query($on-laptop) {
      font-size: 1.8rem;
      padding: 0 $spacing-unit/3.1;
    }
    @include media-query($on-tablet) {
      font-size: 2.4rem;
      padding: 0 $spacing-unit;
    }
  }

  @include media-query($on-tablet) {
    position: absolute;
    top: 0;
    right: 0;
    white-color: $white-color;
    border: 1px solid $black-color;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      > svg {
        width: 36px;
        height: 30px;
        path {
          fill: $white-color;
        }
        rect {
          fill: $white-color;
        }
      }
      @include media-query($on-mobile) {
        padding-top: 15px;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      text-align: center;
      padding: 0 10px;
    }
    .page-link h2:hover {
      font-weight: 400;
    }
  }
}

.affix {
    top: 0;
    position: fixed;
}

nav#site-nav a#site-title-touch h1 {
  float: left;
  margin-left: $spacing-unit/2;
  font-family: $title-font-family;
  font-size: 2.8rem;
  padding-top: 10px;
  @include media-query($on-laptop) {
    font-size: 2.4rem;
  }
  @include media-query($on-tablet) {
    font-size: 2.4rem;
  }
  @include media-query($on-mobile) {
    font-size: 2rem;
    max-width: 70%;
  }
}

/**
 * Site footer
 */
.site-footer {
  background: $black-color;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0 0;
  bottom: 0;
  p {
    font-size: 1em;
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $white-color;
  margin: $spacing-unit/2 $spacing-unit/2;
  box-sizing: border-box;
  @extend %clearfix;
  a {
    color: $white-color;
    text-decoration: none;
  }
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit/2;
  text-align: center;
  p {
    body-color: $white-color;
  }
}

.footer-col-1 {
  width: 16.666666666%;
  text-align: left;
}

.footer-col-2 {
  width: 22.222222222%;
  p {
    margin-top: $spacing-unit;
  }
}

.footer-col-3 {
  width: 22.222222222%;
  p {
    margin-top: $spacing-unit;
  }
}

.footer-col-4 {
  width: 22.222222222%;
  p {
    margin-top: $spacing-unit;
  }
}

.footer-col-5 {
  width: 16.666666666%;
  text-align: right;
}



@include media-query($on-tablet) {
  .site-footer {
    padding: $spacing-unit/2 0 0;
  } 
  .footer-col-1 {
    width: 100%;
    p {
      text-align: center;
    }
  }

  .footer-col-2 {
    width: 33.33333333%;
  }

  .footer-col-3 {
    width: 33.33333333%;
  }

   .footer-col-4 {
    width: 33.33333333%;
  }
  .footer-col-5 {
    width: 100%;
    p {
      text-align: center;
    }
  }
}

/**
 * Grids
 */

 .grid-container {
  box-sizing: border-box;
  @extend %clearfix;
    .one-half-col {
      float: left;
      width: 50%;
    }
    @include media-query($on-tablet) {
      width: 100%;
    }
 }


/**
 * Backgrounds
 */
%themed-bg {
  background: $red-color;
  color: $white-color;
  opacity: 0.7;
  padding: $spacing-unit/3 $spacing-unit;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

/**
 * Category index page
 */

h1.category-title {
  margin: $spacing-unit/2 auto;
  text-align: center;
}

.post-list {
  width: 100%;
}

.post-card {
  width: 80%;
  margin: $spacing-unit 10%;
  padding: $spacing-unit $spacing-unit/2;
  background: $grey-bg-color;
  border: 1px solid $red-color;
  border-top: none;
  border-bottom: none;
  text-align: left;
  h2 {
    clear: none;
  }

  ul {
    list-style: none;
    margin-bottom: $spacing-unit / 2;
    li {
      padding: 0 $spacing-unit;
      margin-bottom: $spacing-unit/2;
    }
    @include media-query($on-tablet) {
      width: 90%;
      margin-left: 5%;
      li {
        padding: 0 $spacing-unit/3;
      }
    }
  }
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  line-height: 1;
  @include media-query($on-tablet) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: 32px;
    @include media-query($on-tablet) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    @include media-query($on-tablet) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    @include media-query($on-tablet) {
      font-size: 18px;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
}

a.post-button {
  display: block;
  width: 80%;
  padding: $spacing-unit / 4 $spacing-unit / 2;
  background: $red-color;
  color: $white-color;
  text-align: center;
  font-family: $base-font-family;
  font-size: 2.4rem;
  margin: $spacing-unit/2 auto;
  @include media-query($on-mobile) {
    font-size: 2rem;
  }
}
a.post-button:hover {
  background: $white-color;
  color: $red-color;
  font-weight: 400;
  max-width: 50%;
  border-left: 1px solid $red-color;
  border-right: 1px solid $red-color;
}

/**
 * Posts
 */

 div.post {
   max-width: 80%;
   margin-left: 10%;
   margin-top: $spacing-unit/2;
   padding: $spacing-unit $spacing-unit/2;
   border-left: 2px solid $red-color;
   border-right: 2px solid $red-color;
   background: $grey-bg-color;
   @include media-query($on-tablet) {
    margin-top: 2*$spacing-unit;
   }
   @include media-query($on-mobile) {
    max-width: 95%;
    margin-left: 2.5%;
   }
 }

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-tablet) {
    font-size: 36px;
  }
}

.social-share {
  margin-top: $spacing-unit/2;
  text-align: center;
  span {
    padding: 0 $spacing-unit /2;
  }
  a svg {
    fill: $red-color;
    circle {
        fill: $red-color;
    }
    path {
        fill: $white-color;
    }
  }
  a:hover svg {
    fill: $white-color;
    circle {
        fill: $white-color;
    }
    path {
        fill: $red-color;
    }
  }
  @include media-query($on-mobile) {
    margin-top: 0;
    span {
      padding: 0 $spacing-unit/5;
    }
  }
}

.list-social-container {
  margin-top: $spacing-unit/2;
  display: block;
  float: right;
  span {
    padding: 0 $spacing-unit/2;
  }
  @include media-query($on-tablet) {
    float: none;
  }
  @include media-query($on-mobile) {
    margin-top: 0;
    span {
      padding: 0 $spacing-unit/5;
    }
  }
}

.video-embed {
  margin: $spacing-unit auto;
}

/**
 * Index page layout
 */
section.hero {
  position: relative;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: -$spacing-unit;
  img {
    width: 100%;
  }
  div.hero-texts {
    position: absolute;
    top: 33.3333333%;
    margin-right: 10%;
    margin-left: 10%;
    h1, a {
      float: right;
      text-align: right;
    }
  }
  h1 {
    padding: $spacing-unit/2 $spacing-unit;
    font-family: $base-font-family;
    font-size: 3.4rem;
    font-weight: 300;
    background: $red-color;
    opacity: 0.80;
    color: $white-color;
  }
  a.home-cta {
    @extend %themed-bg;
    margin-top: $spacing-unit/2;
    font-family: $title-font-family;
    font-size: 2.4rem;
    background: $white-color;
    color: $red-color;
    border-bottom: 2px solid $red-color;
  }
  a.home-cta:hover {
    font-weight: 400;
  }
  @include media-query($on-tablet) {
    width: 90%;
    margin-top: $spacing-unit;
    margin-left: 5%;
    h1 {
      font-size: 3rem;
    }
    a.home-cta {
      font-size: 2.2rem;
    }
  }
  @include media-query($on-mobile) {
    margin-top: 60px;
    a.home-cta {
      display: none;
    }
    h1 {
      font-size: 2.1rem;
    }
  }
}

.home-links {
  max-width: 90%;
  margin: $spacing-unit 5% 0;
  padding: $spacing-unit/2;
  font-size: 4rem;
  text-align: center;
  border-left: 2px solid $red-color;
  border-right: 2px solid $red-color;
  span {
    color: $red-color;
  }
  a:hover {
    font-weight: 400;
  }
  @include media-query($on-tablet) {
    font-size: 3rem;
  }
  @include media-query($on-mobile) {
    font-size: 2.6rem;
    max-width: 80%;
    margin-left: 10%;
    border: none;
    a {
      display: table;
      margin: 0 auto;
      border-bottom: 2px solid $red-color;
    }
    span {
      display: none;
    }
  }
}

section.home-links:last-of-type {
  border: none;
  border-bottom: 2px solid $red-color;
}

#home-posts {
  * {
    clear: none;
  }
  li.post-card {
    margin: $spacing-unit/2 auto;
  }
  @include media-query($on-mobile) {
    div.home-post-col {
      width: 100%;
    }
  }
}
/**
 * "Parallax" backgrounds
 */

.parallax-bg {
  height: 400px;
  width: 85%;
  margin-left: 7.5%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @include media-query($on-tablet) {
    height: 360px;
    background-attachment: scroll;
  }
  @include media-query($on-mobile) {
    height: 200px;
  }
}

.parallax-text {
  @extend %themed-bg;
  position: relative;
  display: block;
  float: right;
  margin-right: 10%;
  z-index: 0;
  top: 160px;
  min-width: 20%;
  padding: $spacing-unit/3 $spacing-unit;
  text-align: center;
  @include media-query($on-tablet) {
    top: 140px;
  }
  @include media-query($on-mobile) {
    top: 60px;
  }
}

.medium-text {
    font-size: 2.6rem;
    max-width: 66.66666666%;
    @include media-query($on-tablet) {
      max-width: 80%;
      font-size: 2rem;
    }
    @include media-query($on-mobile) {
      font-size: 1.6rem;
      line-height: 1.2;
    }
}

.parallax-faith {
  background-image: url('/images/nuala-o-loan-faith.jpg');
  @include media-query($on-tablet) {
    margin-top: 60px;
  }
}

.parallax-conflict-resolution {
  background-image: url('/images/nuala-o-loan-conflict-resolution.jpg');
  @include media-query($on-tablet) {
    margin-top: 60px;
  }
}

.parallax-policing {
  background-image: url('/images/nuala-o-loan-policing-1.jpg');
  @include media-query($on-tablet) {
    margin-top: 60px;
  }
}

.no-result-img {
  max-width: 80%;
  display: block;
  margin: $spacing-unit /2 auto;
}

/**
 * About page
 */
article.about-me {
  h1 {
    clear: none;
  }
  p {
    display: inline;
  }
  img.about-img {
    border-radius: 50%;
    max-width: 33.33333333%;
    float: right;
    margin: $spacing-unit $spacing-unit;
  }
  @include media-query($on-tablet) {
    margin-top: 60px;
  }
  @include media-query($on-mobile) {
    img.about-img {
      float: none;
      display: block;
      max-width: 66.666666%;
      margin: $spacing-unit/2 auto;
    }
  }
}

section.no-route {
  @include media-query($on-tablet) {
    margin-top: 60px;
    h2, a p {
      text-align: center;
    }
  }
}
